@import "tailwindcss";

@theme {
  --color-growwin: #51367E;
  --font-poppins: "Poppins", sans-serif;
  --font-jost: "Jost", sans-serif;
  --font-infer: "infer", sans-serif;
}

/* ======================= JOST ======================= */



.text-white-offset {
  color: #4b2e83; /* your purple text */
  text-shadow:
    3px 3px 0 #ffffff;
}

/* Hide scrollbar but allow scrolling */
.scrollbar-hide {
  -ms-overflow-style: none;   /* IE & Edge */
  scrollbar-width: none;      /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;              /* Chrome, Safari */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #F2F2F2;
}
