@import "tailwindcss";

@theme {
  --color-growwin: #51367E;
}

/* ======================= JOST ======================= */

/* Thin */
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

/* ExtraLight */
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* SemiBold */
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* ExtraBold */
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

/* Black */
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

/* ======================= POPPINS ======================= */

/* Thin */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

/* ExtraLight */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* SemiBold */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* ExtraBold */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

/* Black */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

/* ===== JOST ===== */

@font-face {
  font-family: "JostThin";
  src: url("/fonts/Jost-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "JostExtraLight";
  src: url("/fonts/Jost-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "JostLight";
  src: url("/fonts/Jost-Light.ttf") format("truetype");
}

@font-face {
  font-family: "JostRegular";
  src: url("/fonts/Jost-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "JostMedium";
  src: url("/fonts/Jost-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "JostSemiBold";
  src: url("/fonts/Jost-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "JostBold";
  src: url("/fonts/Jost-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "JostExtraBold";
  src: url("/fonts/Jost-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "JostBlack";
  src: url("/fonts/Jost-Black.ttf") format("truetype");
}

/* ===== JOST UTILITIES ===== */

.font-jost-thin {
  font-family: "JostThin", sans-serif;
}

.font-jost-light {
  font-family: "JostLight", sans-serif;
}

.font-jost-regular {
  font-family: "JostRegular", sans-serif;
}

.font-jost-medium {
  font-family: "JostMedium", sans-serif;
}

.font-jost-semibold {
  font-family: "JostSemiBold", sans-serif;
}

.font-jost-bold {
  font-family: "JostBold", sans-serif;
}

.font-jost-black {
  font-family: "JostBlack", sans-serif;
}

/* ===== POPPINS UTILITIES ===== */

.font-poppins-thin {
  font-family: "PoppinsThin", sans-serif;
}

.font-poppins-light {
  font-family: "PoppinsLight", sans-serif;
}

.font-poppins-regular {
  font-family: "PoppinsRegular", sans-serif;
}

.font-poppins-medium {
  font-family: "PoppinsMedium", sans-serif;
}

.font-poppins-semibold {
  font-family: "PoppinsSemiBold", sans-serif;
}

.font-poppins-bold {
  font-family: "PoppinsBold", sans-serif;
}

.font-poppins-black {
  font-family: "PoppinsBlack", sans-serif;
}

.text-white-offset {
  color: #4b2e83; /* your purple text */
  text-shadow:
    3px 3px 0 #ffffff;
}


body {
  font-family: "Poppins", sans-serif;
}
